<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="lk.css">
</head>
<body>
<h1>Real estate analyzer</p></h1>
    <div class="profile-container">
        <h2>Личный кабинет</h2>
        <div class="profile-info">
            <p><b>Имя:</b> </p>
            <p><b>Email:</b> </p>
            <p><b>Телефон:</b> </p>
	    <p><b></b> </p>
	    <p><b></b> </p>
        </div>
        <div class="profile-actions">
            <button>Запросить аналитику</button>
	    <button>Наши рекомендации</button>
            <button>Редактировать</button>
	    <button>Выйти</button>
	    <feedback>Оставить отзыв</feedback>
        </div>
    </div>
</body>
</html>
