<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/Title.css' %}">
</head>
<body>
<h1>Real estate analyzer</h1>
    <div class="login-container">
        <h2>Вход на сайт</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username"><b>Логин</b></label>
            <input type="text" placeholder="Введите логин" name="username" required>

            <label for="password"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="password" required>

            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>
