<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static 'css/personal_area.css' %}">
</head>
<body>
<h1>Real estate analyzer</h1>
    <div class="profile-container">
        <h2>Личный кабинет</h2>
        <div class="profile-info">
            <p><b>Имя: </b>{{ user_name }}</p>
            <p><b>Email: </b> {{ email }}</p>
            <p><b>Телефон:</b> </p>
	        <p><b></b> </p>
	        <p><b></b> </p>
        </div>
        <div class="profile-actions">
            <button>Запросить аналитику</button>
	        <button>Наши рекомендации</button>
            <button>Редактировать</button>
	        <button><a href="/logout/">Выйти</a></button>
	        <feedback>Оставить отзыв</feedback>
        </div>
    </div>
</body>
</html>
